<!DOCTYPE html>
<html>
<head>
	<title>Livraria Fox - Funcionários</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
        
    <style>
        .pesquisa{
	width: 300px !important;
}
.logo{
	width: 50px;
	height: 50px;
}
.radius{
	border-radius: 20px;
}
.fundonav{
	background: linear-gradient(to right, red , yellow);
}
.tamanho{
	width: 187px;
	height: 270px;
	padding: 5px;
}
.livro:hover { 
	border:1px solid white;
}
.logologin{
	width: 100px;
	height: 100px;

}
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fundonav">
  <a class="navbar-brand" href="painel-funcionario-editor.htm" style="color: white;"><img th:src="@{images/logo.png}" class="logo">LivrariaFox</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="painel-funcionario.htm" style="color: white;">Home <span class="sr-only">(current)</span></a>
      </li>
                <li class="nav-item active" style="margin-left: 920px;">
        <a class="nav-link">Olá, @VARIAVEL</a>
      </li>   
    </ul>
    <form class="form-inline my-2 my-lg-0" action="/">
           <button class="btn btn-dark my-2 my-sm-0 radius" type="submit">Sair</button>
    </form>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-sm">
    </div>
    <div class="col-4">
  <form th:action="@{/cadastrarLivro}" th:object="${livro}" method="POST" enctype="multipart/form-data">
      <span th:text="${error}"></span>
  <div class="form-group" style="padding-top: 10px;">
    <center>
    <h3>Cadastrar Livro</h3>
    </center>
    <input class="form-control" type="text" th:field="*{titulo}"   placeholder="Título" name="titulo" required=""><br>
    <input class="form-control" type="text" th:field="*{datapub}"  placeholder="Ano Publicação" name="anopublicacao" required=""><br>
    <input class="form-control" type="text" th:field="*{idadeind}" placeholder="Idade Indicativa" name="idadeindicativa" required=""><br>
    <input class="form-control" type="text" th:field="*{genero}"  placeholder="Gênero" name="genero" required=""><br>
    <input class="form-control" type="text" th:field="*{autor}"  placeholder="Autor" name="autor" required=""><br>
    <input class="form-control" type="text" th:field="*{preco}"  placeholder="Preço" name="preco" required=""><br>
    <input class="form-control" type="text" th:field="*{colecao}"  placeholder="Coleção" name="colecao" required=""><br>
    <input type="file" name="imagem" class="form-control">
  </div>
  <button type="submit" class="btn btn-dark btn-block radius">Cadastrar</button>
</form>
    </div>
    <div class="col-sm">
  </div>
</div>
</div>   
</body>
</html>