<!DOCTYPE html>
<html>
<head>
	<title>Livraria Fox - Login</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    <style>
    .pesquisa{
	width: 300px !important;
}
.logo{
	width: 50px;
	height: 50px;
}
.radius{
	border-radius: 20px;
}
.fundonav{
	background: linear-gradient(to right, red , yellow);
}
.tamanho{
	width: 187px;
	height: 270px;
	padding: 5px;
}
.livro:hover { 
	border:1px solid white;
}
.logologin{
	width: 100px;
	height: 100px;

}    
    </style>
</head>

<body style="background: linear-gradient(to right, red , yellow);">

	<div class="container">
  <div class="row">
    <div class="col-sm">
    </div>
    <div class="col-4">
        <form th:action="@{/login}" th:object="${cliente}" method="POST">
            
    <center>
    <a href="/" style="color: white;"><img th:src="@{images/logo.png}" class="logologin"></a>
    </center>
  <div class="form-group" style="padding-top: 100px;">
    <center>
    <h1 style="color: white;">Login</h1>
    <span style="color: yellow ;" th:text="${error}"></span>
    </center>
    <input class="form-control" th:field="*{usuario}" required="" type="text" placeholder="Usuário" name="usuario">
  </div>
  <div class="form-group">
    <input type="password" class="form-control" required="" th:field="*{senha}" id="exampleInputPassword1" placeholder="Senha" name="senha">
    <small id="emailHelp" class="form-text" style="color: white;">Não tem conta?? <a href="/cadastrarUsuario" style="color: blue;">Crie Uma!!</a></small>
  </div>
  <button type="submit" class="btn btn-dark btn-block radius">Entrar</button>
  
</form>
    </div>
    <div class="col-sm">
    </div>
  </div>
</div>

</body>
</html>