<!DOCTYPE html>
<html>
<head>
	<title>Livraria Fox - Index</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
        <style>
    .pesquisa{
	width: 300px !important;
}
.logo{
	width: 50px;
	height: 50px;
}
.radius{
	border-radius: 20px;
}
.fundonav{
	background: linear-gradient(to right, red , yellow);
}
.tamanho{
	width: 187px;
	height: 270px;
	padding: 5px;
}
.livro:hover { 
	border:1px solid white;
}
.logologin{
	width: 100px;
	height: 100px;

}    
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fundonav">
  <a class="navbar-brand" href="/" style="color: white;"><img src="imagens/logo.png" class="logo">LivrariaFox</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/" style="color: white;">Home <span class="sr-only">(current)</span></a>
      </li>
       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white;"> 
          Categorias
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="livros-acao.html">Ação</a>
          <a class="dropdown-item" href="livros-comedia.html">Comédia</a>
          <a class="dropdown-item" href="livros-romance.html">Romance</a>
          <a class="dropdown-item" href="livros-suspense.html">Suspense</a>
          <a class="dropdown-item" href="livros-terror.html">Terror</a>
          <a class="dropdown-item" href="livros-investigacao.html">Investigação</a>
          <a class="dropdown-item" href="livros-infantis.html">Infantil</a>
        </div>
      </li>
      <form class="form-inline my-2 my-lg-0" >
           <input class="form-control mr-form-2 pesquisa radius" type="search" placeholder="Pesquisa" aria-label="Search">
           <button class="btn btn-outline-dark my-2 my-sm-0 radius" type="submit">Pesquisar</button>
         </form>
      <li class="nav-item active" style="margin-left: 370px;">
        <a class="nav-link">Olá, @VARIAVEL</a>
      </li>        
    </ul>
    <form class="form-inline my-2 my-lg-0" action="/PaginaPrincipal">
           <button class="btn btn-dark my-2 my-sm-0 radius" type="submit">Sair</button>
    </form>
  </div>
</nav>
<div class="container">
  <div class="row">
  	<div class="col-sm">
      <a href="pagina-livro.html" class="livro"><img class="tamanho produtos" src="imagens/livros/1.jpg"></a>
      <a href="pagina-livro.html" class="livro"><img class="tamanho produtos" src=""></a>
    </div>
    <div class="col-sm">
      <a href="pagina-livro.html" class="livro"><img class="tamanho produtos" src=""></a>
      <a href="pagina-livro.html" class="livro"><img class="tamanho produtos" src=""></a>
    </div>
    <div class="col-sm">
      <a href="pagina-livro.html" class="livro"><img class="tamanho produtos" src=""></a>
      <a href="pagina-livro.html" class="livro"><img class="tamanho produtos" src=""></a>
    </div>
    <div class="col-sm">
      <a href="pagina-livro.html" class="livro"><img class="tamanho produtos" src=""></a>
      <a href="pagina-livro.html" class="livro"><img class="tamanho produtos" src=""></a>
    </div>
    <div class="col-sm">
      <a href="pagina-livro.html" class="livro"><img class="tamanho produtos" src=""></a>
      <a href="pagina-livro.html" class="livro"><img class="tamanho produtos" src=""></a>
    </div>
  </div>
</div>

</body>
</html>